.diet-programms {
  margin-bottom: 20px;
}

.diet-programms__list {
  .list-reset();
}

.diet-programms__item {
  margin-bottom: 20px;
  padding: 20px;

  background-color: @basic-grey-color;

  &:last-child {
    margin-bottom: 0;
  }
}

.diet-programms__heading {
  position: relative;

  margin: 0;
  margin-bottom: 29px;
  padding-left: 70px;

  font-size: 24px;
  font-weight: normal;
  line-height: 37px;
  text-transform: uppercase;

  &::before {
    .absolute();
    top: -20%;
    left: 0;

    width: 50px;
    height: 50px;

    background-color: @light-green-color;
    border-radius: 50%;
  }

  &--slim::after {
    .absolute();
    top: -10px;
    left: 10px;

    width: 36px;
    height: 56px;

    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  &--pro::after {
    .absolute();
    top: 5px;
    left: -10px;

    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }
}

.diet-programms__description {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;

  font-family: @font-second;
  color: @special-dark-grey;

  border-bottom: 1px solid #d9d9d9;
}

.diet-programms__link {
  .link-reset();

  position: relative;

  padding: 4px 0;

  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: @color-font-main;

  &::before {
    .absolute();
    left: 100px;
    top: 50%;

    width: 24px;
    height: 2px;

    background-color: @black-color;
  }

  &::after {
    .absolute();
    left: 119px;
    top: 11px;

    width: 0;
    height: 0;

    border: 6px solid transparent;
    border-left: 6px solid @black-color;
  }
}

@media (min-width: @tablet-width) {
  .diet-programms {
    margin-bottom: 45px;
  }

  .diet-programms__item {
    margin-bottom: 30px;
    padding-top: 77px;
    padding-right: 320px;
    padding-bottom: 53px;
    padding-left: 52px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .diet-programms__heading {
    margin-bottom: 24px;
    padding-left: 0;

    font-size: 36px;
    line-height: 36px;

    &::before {
      .absolute();
      top: 11px;
      left: 400px;

      width: 200px;
      height: 200px;
    }

    &--slim::after {
      .absolute();
      top: 0;
      left: 420px;

      width: 140px;
      height: 192px;
    }

    &--pro::after {
      .absolute();
      top: 55px;
      left: 365px;

      width: 268px;
      height: 112px;
    }
  }

  .diet-programms__description {
    border: none;
  }

  .diet-programms__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  //
}
