.form {
  box-sizing: border-box;
}

.form__fieldset {
  position: relative;

  margin: 0;
  padding: 0;
  margin-bottom: 27px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  border: none;

  &--personal-data,
  &--programm-select {
    &::before {
      .absolute();
      left: 50%;
      bottom: 0;
      width: 100vw;
      height: 1px;
      background-color: #e6e6e6;
    }

    &::after {
      .absolute();
      right: 50%;
      bottom: 0;
      width: 100vw;
      height: 1px;
      background-color: #e6e6e6;
    }
  }

  &--personal-data {
    margin-bottom: 0;
    padding-bottom: 24px;
  }

  &--programm-select {
    padding-top: 20px;
    padding-bottom: 22px;

    color: #222222;
  }

  &--checkbox-select {
    margin-bottom: 34px;
  }

  &--personal-data,
  &--personal-contact,
  &--comment {
    color: @special-dark-grey;
  }
}

.form__label {
  display: block;

  margin-bottom: 13px;
  padding: 0;

  &--radio,
  &--checkbox {
    position: relative;

    margin-bottom: 25px;
    padding-left: 45px;

    cursor: pointer;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 13px;
}

.form__input-wrapper .form__label {
  display: inline-block;

  margin-bottom: 0;
  padding-right: 15px;
}

.form__input-wrapper .form__input {
  flex-grow: 1;

  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 15px;

  border: 1px solid @special-grey;
}

.form__input-radio-indicator,
.form__input-checkbox-indicator {
  position: absolute;
  top: -5px;
  left: 0;

  width: 30px;
  height: 30px;

  border: 1px solid @special-grey;
}

.form__input-radio-indicator {
  border-radius: 50%;
}

.form__input-radio:checked + .form__input-radio-indicator::before {
  .absolute();
  top: 8px;
  left: 8px;

  width: 13px;
  height: 13px;

  background-color: @light-green-color;

  border-radius: 50%;
}

.form__legend {
  position: relative;

  margin-bottom: 34px;

  font-size: 24px;
  line-height: 26px;

  &::after {
    .absolute();
    top: 10px;
    left: 115%;

    width: 100vw;
    height: 2px;

    background-color: @light-green-color;
  }

  &--contacts {
    &::after {
      left: 85%;
    }
  }
}

.form__textarea {
  width: 100%;

  text-transform: uppercase;

  border: 1px solid #e7e7e7;

  resize: none;
}


.form__input-checkbox:checked + .form__input-checkbox-indicator::before,
.form__input-checkbox:checked + .form__input-checkbox-indicator::after {
  .absolute();

  background-color: @light-green-color;
}

.form__input-checkbox:checked + .form__input-checkbox-indicator::before {
  top: 16px;
  left: 4px;

  width: 12px;
  height: 2px;

  transform: rotate(45deg);
}

.form__input-checkbox:checked + .form__input-checkbox-indicator::after {
  top: 13px;
  left: 10px;

  width: 18px;
  height: 2px;

  transform: rotate(-50deg);
}
