.page-promo {
  text-align: center;
  text-transform: uppercase;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-promo__heading {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 20px;

  font-size: 36px;
  color: @color-font-second;
  font-weight: normal;
  line-height: 36px;
  letter-spacing: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.page-promo__slogan {
  margin: 0;
  margin-bottom: 20px;

  line-height: 14px;
  color: @color-font-second;
}
