.page-promo {
  margin-bottom: 20px;

  text-align: center;
}

.page-promo__title-wrapper {
  padding-top: 27px;
  padding-bottom: 168px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-promo__heading {
  margin: 0;
  margin-bottom: 25px;

  font-size: 36px;
  color: @color-font-second;
  font-weight: 400;
  line-height: 36px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.page-promo__slogan {
  margin: 0;
  margin-bottom: 20px;

  line-height: 14px;
  color: @color-font-second;
  text-transform: uppercase;
}

.page-promo__image-wrapper {
  padding-top: 135px;
}

.page-promo__image-container {
  position: relative;
}

.page-promo__image {
  .absolute();
  bottom: 47px;
  left: calc(100% - 280px);

  width: 280px;
  height: 271px;
}

@media (min-width: @tablet-width) {
  .page-promo {
    margin-bottom: 0;

    text-align: left;
  }

  .page-promo__title-wrapper {
    padding: 0;

    background-image: none;
  }

  .page-promo__title-container {
    padding-right: 207px;
    padding-left: 87px;
  }

  .page-promo__heading {
    margin: 0;
    margin-bottom: 40px;

    font-size: 60px;
    color: @color-font-main;
    line-height: 60px;
    text-shadow: none;
  }

  .page-promo__slogan {
    margin: 0;
    margin-bottom: 10px;

    line-height: 20px;
    font-size: 20px;
    color: @color-font-main;
    text-transform: uppercase;
  }

  .page-promo__image-wrapper {
    padding: 0;
  }

  .page-promo__image-container {
    position: relative;
    padding-top: 20px;
    padding-bottom: 526px;
  }

  .page-promo__image {
    .absolute();
    top: 0;
    left: calc(100% - 280px);

    width: 280px;
    height: 271px;
  }

  .page-promo__link {
    min-width: 245px;
    max-width: 30%;
    margin-left: 83px;
    padding: 15px 25px;
  }
}

@media (min-width: @desktop-width) {
  .page-promo {
    margin-bottom: 80px;

    text-align: left;
  }

  .page-promo__title-wrapper {
    padding: 0;

    background-image: none;
  }

  .page-promo__title-container {
    padding-right: 550px;
    padding-left: 80px;
  }

  .page-promo__slogan {
    margin-bottom: 40px;
  }

  .page-promo__image-wrapper {
    padding: 0;
  }

  .page-promo__image-container {
    padding-bottom: 182px;
  }

  .page-promo__image {
    .absolute();
    top: -300px;
    left: calc(100% - 280px);

    width: 280px;
    height: 271px;
  }

  .page-promo__link {
    min-width: 245px;
    max-width: 20%;
    margin-left: 80px;
  }
}
