.partnership-map-wrapper {
  background-color: @color-main;

  &--inner {
    background-color: @basic-grey-color;
  }

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.partnership {
  @media (min-width: @desktop-width) {
    .absolute();
    top: 95px;
    left: 110px;

    background-color: @color-main;
  }
}

.partnership .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 28px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    padding-top: 65px;
    padding-bottom: 62px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    padding-right: 89px;
    padding-left: 76px;
  }
}

.partnership__call {
  margin: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 21px;
  }
}

.partnership__contacts {
  margin: 0;

  font-family: @font-second;
  font-size: 14px;
  line-height: 20px;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}


.partnership__contacts--city {
  @media (min-width: @tablet-width) {
    display: block;

    margin-top: 19px;
  }
}
