.product-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-column-gap: 60px;
    grid-row-gap: 140px;

    margin-bottom: 68px;
    padding-top: 80px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    grid-column-gap: 80px;
    grid-row-gap: 145px;

    margin-bottom: 76px;
  }
}

.product-list__item {
  position: relative;

  &::before {
    .absolute();
    left: 50%;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: @special-light-grey;
  }

  &::after {
    .absolute();
    right: 50%;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: @special-light-grey;
  }

  @media (min-width: @tablet-width) {
    min-height: 430px;

    background-color: @basic-grey-color;

    &::before,
    &::after {
      display: none;
    }
  }
}
