.related-product {
  .out();
}

.related-product-item {
  padding-top: 10px;
  padding-bottom: 20px;

  border-bottom: 1px solid @special-light-grey;
}

.related-product-item__title {
  margin: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.related-product-item__parameter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-family: @font-second;
  line-height: 14px;
  color: @special-dark-grey;
  text-transform: lowercase;
}
