.social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  .list-reset();

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.social__item {
  padding: 20px 0;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--vk,
  &--instagram {
    @media (min-width: @tablet-width) {
      padding-top: 3px;
    }
  }
}

.social__link {
  .link-reset();
}

.social__link-icon {
  fill: #666666;

  &:hover {
    fill: @light-green-color;
  }

  &:active {
    fill: @light-green-color;
    opacity: 0.6;
  }
}
